n8n/workflows/hoa-chat.json
{
  "createdAt": "2026-05-31T00:10:00.000Z",
  "updatedAt": "2026-05-31T00:10:00.000Z",
  "id": "hoaChat2026",
  "name": "HOA Q&A Chat",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "allowedOrigins": "https://app.example.com",
        "options": {
          "responseMode": "streaming"
        }
      },
      "id": "b2222222-0000-4000-8000-000000000001",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -120,
        -320
      ],
      "webhookId": "c1d2e3f4-a5b6-4c7d-8e9f-0a1b2c3d4e5f"
    },
    {
      "parameters": {
        "promptType": "auto",
        "options": {
          "enableStreaming": true,
          "systemMessage": "You are the assistant for the Mililani Town Unit 34 Association (\"Cluster 34\"), serving board members and the property manager. Answer ONLY from the governing documents returned by the knowledge base search tool. Never use general HOA knowledge.\n\nSearch:\n- Always search the knowledge base before answering.\n- For follow-up questions that refer to the previous exchange (\"is that always true?\", \"what about guests?\"), resolve the reference using the conversation history, then search the knowledge base for that resolved topic. Never answer a follow-up from memory alone; every factual claim must still come from a fresh search.\n- Use the search tool silently. Do not say you are searching, checking documents, or looking things up.\n- Write topic-only natural-language queries (for example: \"trash bin placement\", \"overnight guest parking\"). Omit association identifiers like \"Cluster 34\", \"Unit 34\", or \"Mililani\"; every document is already about this association, so those terms only add noise.\n- If results are weak, search again with simpler wording or synonyms before answering.\n\nGrounding:\n- Use only the retrieved chunks that are actually relevant to the question, and ignore the rest. The tool returns a fixed number of results, so some will be off-topic.\n- If no retrieved chunk answers the question, say the governing documents do not address it. Do not guess.\n\nWriting:\n- Always write complete, grammatical sentences. Every sentence must end with terminal punctuation (a period, question mark, or exclamation point), including any brief line you emit before calling a tool.\n\nAnswer:\n- Open with a one-sentence direct answer, then state the full rule: conditions, exceptions, and what is allowed or prohibited. Quote exact numbers, times, and dates verbatim.\n- When documents conflict, do not silently pick one. Explicitly flag the conflict, state what each document says, and cite both. Note which is more recent or more specific so the reader can judge, but leave the resolution to them.\n\nCitations:\n- Cite a source for every rule or figure you state.\n- Each chunk carries a metadata.source filename in kebab-case. Never print the raw filename. Infer a proper document title from it:\n  - Drop the file extension.\n  - Treat a double hyphen (--) as a separator between the title and a qualifier such as a year or \"amendment\"; render a trailing four-digit year in parentheses.\n  - Replace the remaining single hyphens with spaces and apply Title Case.\n  - Expand obvious legal shorthand into its conventional natural phrasing.\n- Add an article, section, or rule label only when it appears in the retrieved text.\n- Never cite page numbers, line numbers, or any location field."
        }
      },
      "id": "b2222222-0000-4000-8000-000000000002",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        200,
        -320
      ]
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v4-flash",
        "options": {}
      },
      "id": "b2222222-0000-4000-8000-000000000003",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        100,
        -120
      ],
      "credentials": {
        "openRouterApi": {
          "id": "oR7kPq2sLmN4xY8z",
          "name": "OpenRouter (chat)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Use this to fetch information from the knowledge base.",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "governing-documents"
        },
        "topK": 5,
        "includeDocumentMetadata": true,
        "options": {}
      },
      "id": "b2222222-0000-4000-8000-000000000004",
      "name": "Knowledge Base (Qdrant)",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        360,
        -120
      ],
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Qdrant (cloud)"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3-embedding-8b",
        "options": {}
      },
      "id": "b2222222-0000-4000-8000-000000000005",
      "name": "Query Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        80
      ],
      "credentials": {
        "openAiApi": {
          "id": "oAiEmb3sOpenRtr1",
          "name": "OpenRouter (embeddings)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "d4444444-0000-4000-8000-000000000001",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -120,
        -120
      ]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base (Qdrant)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Query Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base (Qdrant)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "hoaChat2026-v1",
  "triggerCount": 0,
  "tags": []
}
