n8n/workflows/hoa-ingestion.json
{
  "createdAt": "2026-05-31T00:10:00.000Z",
  "updatedAt": "2026-05-31T00:10:00.000Z",
  "id": "hoaIngest2026",
  "name": "HOA Q&A Ingestion",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/shared/rag-files/inbox",
        "events": [
          "add"
        ],
        "options": {
          "awaitWriteFinish": true,
          "usePolling": true
        }
      },
      "id": "11d30f99-2ab8-44cd-8f75-c302891e452f",
      "name": "On New File",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -120,
        340
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path }}",
        "options": {}
      },
      "id": "127a8ef5-c8d7-4395-8e24-a72df790ea8d",
      "name": "Read File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        100,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://docling:5001/v1/convert/file/async",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            },
            {
              "name": "to_formats",
              "value": "md"
            },
            {
              "name": "do_ocr",
              "value": "true"
            },
            {
              "name": "image_export_mode",
              "value": "placeholder"
            }
          ]
        },
        "options": {}
      },
      "id": "3a1f6c2e-9b4d-4f8a-bc11-2d6e8a0f1234",
      "name": "Submit to Docling",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        340
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "5c2a7d10-1e3b-4a6c-9f22-7b8c1d2e3f44",
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        540,
        340
      ],
      "webhookId": "a7b3c9d1-2e4f-4a6b-8c1d-3e5f7a9b1c2d"
    },
    {
      "parameters": {
        "url": "=http://docling:5001/v1/status/poll/{{ $('Submit to Docling').item.json.task_id }}",
        "options": {}
      },
      "id": "6d3b8e21-2f4c-4b7d-a033-8c9d2e3f4a55",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-success",
              "leftValue": "={{ $json.task_status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7e4c9f32-3a5d-4c8e-b144-9d0e3f4a5b66",
      "name": "Conversion Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-failure",
              "leftValue": "={{ $json.task_status }}",
              "rightValue": "failure",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8f5d0a43-4b6e-4d9f-c255-0e1f4a5b6c77",
      "name": "Conversion Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        500
      ]
    },
    {
      "parameters": {
        "url": "=http://docling:5001/v1/result/{{ $('Submit to Docling').item.json.task_id }}",
        "options": {}
      },
      "id": "9a6e1b54-5c7f-4e0a-d366-1f2a5b6c7d88",
      "name": "Get Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const markdown = ($input.first().json.document.md_content || '').replace(/<!-- image -->\\n?/g, '');\nconst source = $('On New File').first().json.path.split('/').pop();\nreturn [{ json: { markdown, source } }];"
      },
      "id": "ab7f2c65-6d8a-4f1b-e477-2a3b5c6d7e99",
      "name": "Extract Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        200
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "markdown",
        "options": {}
      },
      "id": "bc8a3d76-7e9b-4a2c-f588-3b4c5d6e7faa",
      "name": "Markdown to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1640,
        200
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/shared/rag-files/markdown/{{ $('On New File').item.json.path.split('/').pop().replace(/\\.[^.]+$/, '') }}.md",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "cd9b4e87-8fac-4b3d-a699-4c5d6e7f8abb",
      "name": "Save Markdown",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1860,
        200
      ]
    },
    {
      "parameters": {},
      "id": "deac5f98-9abd-4c4e-b7aa-5d6e7f8a9bcc",
      "name": "Conversion Failed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1420,
        600
      ]
    },
    {
      "parameters": {
        "action": "hash",
        "type": "SHA256",
        "value": "={{ $json.markdown }}",
        "dataPropertyName": "contentHash",
        "encoding": "hex"
      },
      "id": "a1111111-0000-4000-8000-000000000006",
      "name": "Hash Content",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        1560,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.QDRANT_PUBLIC_URL }}/collections/governing-documents/points/delete?wait=true",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"filter\": { \"should\": [ { \"key\": \"metadata.source\", \"match\": { \"value\": $json.source } }, { \"key\": \"metadata.contentHash\", \"match\": { \"value\": $json.contentHash } } ] } } }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.QDRANT_API_KEY }}"
            }
          ]
        }
      },
      "id": "a1111111-0000-4000-8000-000000000005",
      "name": "Delete Existing Vectors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1720,
        0
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "governing-documents"
        },
        "options": {}
      },
      "id": "a1111111-0000-4000-8000-000000000001",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1860,
        -40
      ],
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Qdrant (remote)"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3-embedding-8b",
        "options": {}
      },
      "id": "a1111111-0000-4000-8000-000000000002",
      "name": "Embeddings OpenRouter",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1760,
        160
      ],
      "credentials": {
        "openAiApi": {
          "id": "oAiEmb3sOpenRtr1",
          "name": "OpenRouter (embeddings)"
        }
      }
    },
    {
      "parameters": {
        "dataType": "json",
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extract Markdown').item.json.markdown }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $('Extract Markdown').item.json.source }}"
              },
              {
                "name": "contentHash",
                "value": "={{ $('Hash Content').item.json.contentHash }}"
              }
            ]
          }
        }
      },
      "id": "a1111111-0000-4000-8000-000000000003",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1980,
        160
      ]
    },
    {
      "parameters": {
        "chunkSize": 3200,
        "chunkOverlap": 600,
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "a1111111-0000-4000-8000-000000000004",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1980,
        380
      ]
    },
    {
      "parameters": {
        "command": "=mkdir -p /data/shared/rag-files/archive && mv \"{{ $('On New File').item.json.path }}\" /data/shared/rag-files/archive/"
      },
      "id": "c3333333-0000-4000-8000-000000000001",
      "name": "Archive Source",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2080,
        -40
      ]
    }
  ],
  "connections": {
    "On New File": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File": {
      "main": [
        [
          {
            "node": "Submit to Docling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to Docling": {
      "main": [
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Conversion Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversion Done?": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Conversion Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversion Failed?": {
      "main": [
        [
          {
            "node": "Conversion Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Result": {
      "main": [
        [
          {
            "node": "Extract Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Markdown": {
      "main": [
        [
          {
            "node": "Markdown to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hash Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash Content": {
      "main": [
        [
          {
            "node": "Delete Existing Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Existing Vectors": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown to File": {
      "main": [
        [
          {
            "node": "Save Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenRouter": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Archive Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "versionId": "hoaIngest2026-v1",
  "triggerCount": 0,
  "tags": []
}
